 1 border-radius()
 2   -webkit-border-radius arguments
 3   -moz-border-radius arguments
 4   border-radius arguments
 5   
 6 body
 7   font 12px Helvetica, Arial, sans-serif
 8   
 9 a.button
10   border-radius 5px